/* Estilo para la sección de skills */
#skills {
  max-width: 600px;
  margin: 20px auto;
}

/* Lista de detalles */
.detalles {
  list-style: none;
  padding: 0;

}

/* Estilos generales para la barra de progreso */
.barra {

  background-color: #e0e0df;
  border-radius: 25px;
  margin: 10px 0;
  padding: 5px;
  position: relative;
  overflow: hidden; /* Evita que la animación sobresalga */
}

/* Estilos generales para el contenido de la barra */
.barra li {
  position: relative;
  z-index: 1;
  font-weight: bold;
  padding-left: 10px;
}

/* Barra de progreso 1: Aventurero */
.barra1 {
  width: 0;
  background-color: #4caf50; /* Verde */
  animation: progreso1 3s ease forwards;
}

@keyframes progreso1 {
  0% { width: 0; }
  100% { width: 90%; }
}

/* Barra de progreso 2: Valiente */
.barra2 {
  width: 0;
  background-color: #f7941d; /* Naranja */
  animation: progreso2 2s ease forwards;
}

@keyframes progreso2 {
  0% { width: 0; }
  100% { width: 75%; }
}

/* Barra de progreso 3: Protector */
.barra3 {
  width: 0;
  background-color: #007BFF; /* Azul */
  animation: progreso3 4s ease forwards;
}

@keyframes progreso3 {
  0% { width: 0; }
  100% { width: 85%; }
}

/* Barra de progreso 4: Psicopata */
.barra4 {
  width: 0;
  background-color: #ff0000; /* Rojo */
  animation: progreso4 5s ease forwards;
}

@keyframes progreso4 {
  0% { width: 0; }
  100% { width: 100%; }
}