
form div {
  margin: 10px;
  margin-bottom: 15px; /* Espacio entre cada campo */
}

label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  display: block; /* Para asegurar que aparezca encima del campo */
}

input[type="text"], 
input[type="email"], 
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #37bb07a1;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total del input */
  background-color: #fafaf9;
}

input[type="text"]:focus, 
input[type="email"]:focus, 
textarea:focus {
  border-color: #007BFF; /* Cambia el color del borde cuando el campo está en foco */
  outline: none;
}

textarea {
  resize: vertical; /* Permite que el área de texto se redimensione solo verticalmente */
}

ul.opciones {
  list-style: none;
  padding: 0;
}

ul.opciones li {
  margin-bottom: 5px;
}

input[type="submit"], 
input[type="reset"] {
  background-color: rgb(86, 226, 43);;
  color: rgb(3, 3, 3);
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-right: 10px;
}

input[type="submit"]:hover, 
input[type="reset"]:hover {
  background-color: #021d05; /* Color más oscuro al pasar el cursor */
}