#skills {
  max-width: 600px;
  margin: 20px auto;
}

.barra {
  background-color: #e0e0df;
  border-radius: 20px;
  margin: 10px 0;
  padding: 5px;
  position: relative;
  height: 25px;
  overflow: hidden;
}
