.header-fondo {
  position: sticky;
  top: 0;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: auto;
  background-image: url("../image/paisaje.png");
  background-position: center;
  opacity: 0.9;
  .image {
    width: auto;
    height: 5rem;
    top: 0;
    left: 0;
  }
  .nav {
    .btn {
      text-decoration: none;
      font-weight: bold;
      padding: 1rem;
      color: yellow;
    }
  }
}
