.header-fondo {
  position: sticky;
  top: 0;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: auto;
  background-image: url("../image/paisaje.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  .image {
    width: auto;
    height: 5rem;
    top: 0;
    left: 0;
  }
  .nav {
    .list {
      list-style-type: none;
    }
  }
}