section {
  padding: 2rem;
  h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  .img {
    text-align: center;
  }
}

.img img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;

}

.img p {
  font-style: bold;
  margin-top: 0.5rem;
  font-size: 2rem;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem; 
  margin: 1rem 0;
}

/* Media query para pantallas más grandes*/
@media (min-width: 768px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

